.button {
  background-color: var(--mainColor);
  color: #FFFFFF;
  width: 100%;
  min-height: 40px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: .3s;
  text-decoration: none;

  &:hover {
    background: #FFFFFF;
    color: var(--mainColor);
    border-color: currentColor;
  }
}
