
.center {
  padding-right: calc(50vw - 125px);
  padding-left: calc(50vw - 125px);

  @media screen and (min-width: 760px) {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
}


  .header {
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: none;
    list-style: none;

    .nav__link {
      text-decoration: none;
      color: var(--mainColor);

    }
  }

  .nav__toggler {
    background: none;
    border: none;
  }


